DATABASE_URL=postgres://YOURUSERNAME:YOURPASSWORD@127.0.0.1:5432/game_backlogger_development
TEST_DATABASE_URL=postgres://YOURUSERNAME:YOURPASSWORD@127.0.0.1:5432/game_backlogger_test
TWITCH_CLIENT_ID=CLIENT_ID_HERE
TWITCH_CLIENT_SECRET=CLIENT_SECRET_HERE
IGDB_ACCESS_TOKEN=ACCESS_TOKEN_HERE